/*!rtl:begin:ignore*/

@keyframes slide-top {
	0% {
		opacity: 0;
		transform: translateY(-5%);
	}
}

@keyframes slide-right {
	0% {
		opacity: 0;
		transform: translateX(5%);
	}
}

@keyframes slide-bottom {
	0% {
		opacity: 0;
		transform: translateY(5%);
	}
}

@keyframes slide-left {
	0% {
		opacity: 0;
		transform: translateX(-5%);
	}
}

.o_popover {
	$-animation-time: 0.2s;

	@each $direction in (top, right, bottom, left) {		
		&.bs-popover-#{$direction} {
			animation: $-animation-time slide-#{$direction};

			& .arrow {
				@if $direction == top or $direction == bottom {
					inset-inline: 0;
					margin: 0 auto;
				} @else {
					inset-block: 0;
					margin: auto 0;
				}		
			}
		}
	}

	&.o-popover--ts .arrow, &.o-popover--bs .arrow {
		left: $popover-border-radius;
		right: auto;
	}

	&.o-popover--te .arrow, &.o-popover--be .arrow {
		right: $popover-border-radius;
		left: auto;
	}

	&.o-popover--ls .arrow, &.o-popover--rs .arrow {
		top: $popover-border-radius;
		bottom: auto;
	}
	
	&.o-popover--le .arrow, &.o-popover--re .arrow {
		bottom: $popover-border-radius;
		top: auto;
	}
}
/*!rtl:end:ignore*/
