.modal.o_technical_modal .modal-footer {
    button {
        margin: map-get($spacers, 1);

        &:last-child {
            margin-inline-end: 0;
        }

        &:first-child {
            margin-inline-start: 0;
        }
    }
}
