.o_command_palette {
    margin-top: 10vh;

    > .modal-body {
        padding: 0;
        overflow: hidden;
    }

    &_listbox {
        cursor: default;
        max-height: 50vh;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .o_command {
            &.focused {
                background: rgba($o-brand-primary, 0.25);
            }

            .o_app_icon {
                height: 1.8rem;
                width: 1.8rem;

                & > i.fa {
                    @include o-position-absolute(25%, 0, auto, 0);
                    text-align: center;
                }
            }
        }
    }
}
