.o_loyalty_kanban_inline {
    .o_kanban_record {
        width: 100% !important;
    }
}

.loyalty-templates-container {
    pointer-events: auto;

    .loyalty-template {
        height: 200px;
        width: 200px;
        border-color: gray;
        cursor: pointer;
    }
}

.loyalty-rule-form {
    // The base width for this field is 100px which is problematic for us.
    .o_field_widget.o_field_monetary.o_input > input {
        width: 100%;
    }
}
