.o_kanban_view.o_kanban_dashboard {
    &.o_hr_recruitment_kanban {
        // TODO
        // &.o_kanban_ungrouped .o_kanban_record {
        //     width: 350px;
            // &:not(.o_kanban_ghost) {
            //     // height: 180px;
            //     @include media-breakpoint-down(sm) {
            //         height: 150px;
            //     }
            // }
        // }

        .o_primary {
            display: flex !important;
            align-items: center;
            justify-content: space-between;
            padding-right: 24px !important;

            .fa {
                margin-left: 0;
            }
        }

        .o_job_stages {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .o_job_stage {
                color: $o-enterprise-primary-color;
                text-align: center;
                flex-grow: 1;

                span {
                    display: block;
                }

                &:not(:last-child) {
                    border-right: 1px solid $border-color;
                }
            }
        }

        .o_job_activities {
            list-style-type: none;
        }
    }

    .o_kanban_card_header_title {
        min-height: 3rem;
    }

        // TODO
    // .o_kanban_record_subtitle {
    //     height: 1em;
    // }

    @for $size from 1 through length($o-colors) {
        .o_color_#{$size - 1} {
            color: nth($o-colors, $size);
        }
    }
}

.o_kanban_view .oe_kanban_card {
    .o_kanban_state_with_padding {
        padding-left:7%;
        padding-bottom:5%;
        width: 12px;
    }
}

.o_recruitment_list {
    .o_list_button {
        text-align: right;
    }
}
