
.o_onb {
    $o-onboarding-base-time: 0.5s;
    $o-onboarding-dot-size: 20px;
    $o-onboarding-progress-height: 2px;
    $o-onboarding-step-width: map-get($container-max-widths, 'lg') / 4;

    $o-onboarding-colors: (
        'blue': (
            'bg': (#60ABC3, #4187AE),
            'ui': (#F39D9B, #FBEEC8),
        ),
        'orange': (
            'bg': (#DA9D77, #B9684F),
            'ui': (#599FF1, #68B3C9),
        ),
        'violet': (
            'bg': (#6070C3, #475DA4),
            'ui': (#F39D9B, #FBEEC8),
        ),
    );

    background: white center top;
    background-size: cover;

    // =========  Color Variations  =========
    // ======================================
    @each $key, $values in $o-onboarding-colors {
        &.o_onboarding_#{$key} {
            $-bg: map-get($values, 'bg');
            $-ui: map-get($values, 'ui');

            @include print-variable('o-onboarding-done-color', nth($-ui, 1));
            @include print-variable('o-onboarding-current-color', nth($-ui, 2));

            .o_onb_wrap {
                background-color: mix(fade-out(nth($-bg, 1), 0.5), nth($-bg, 2));
                background-image: linear-gradient(to bottom, fade-out(nth($-bg, 1), 0.5), nth($-bg, 2));
            }
        }
    }

    .o_onb_btn_close {
        inset: 0 0 auto auto;
    }

    .o_onb_completed_message {
        inset: auto 0 0 0;
        box-shadow: 0 -7px 20px -5px rgba(#000, 0.3);
        transform: translateY(100%);

        &.o_onb_steps__just_done {
            animation: o_onb_slideInUp $o-onboarding-base-time ease-out;
        }

        &.o_onb_steps__done {
            transform: translateY(0);
        }
    }

    .o_onb_steps {
        @include media-breakpoint-down(lg) {
            display: grid;
            grid-auto-rows: 1fr;
            grid-template-columns: 1fr;
        }
    }

    .o_onb_step {
        flex: 1 1 0;

        @for $i from 1 through 5 {
            &.o_onb_step__todo:nth-of-type(#{$i}) {
                @include print-variable('o-onboarding-delay', $i * .2s);
            }
        }

        .o_onb_step_content {
            width: $o-onboarding-step-width;
        }

        .o_onb_step_action {
            min-width: $o-onboarding-step-width/2;
        }

        .o_onb_progress {
            background: var(--o-onboarding-current-color, #{$o-brand-odoo});

            @include media-breakpoint-down(lg) {
                height: calc(100% - #{$o-onboarding-dot-size});
                width: $o-onboarding-progress-height;
                transform:
                    translateX($o-onboarding-dot-size * .5 - $o-onboarding-progress-height * .5)
                    translateY(-60%);
            }

            @include media-breakpoint-up(lg) {
                height: $o-onboarding-progress-height;
                width: calc(100% - #{$o-onboarding-dot-size});
                transform:
                    translateX(-100%)
                    translateY($o-onboarding-dot-size * .5 - $o-onboarding-progress-height * .5);
            }
        }

        .o_onb_dot {
            width: $o-onboarding-dot-size;
            height: $o-onboarding-dot-size;
            color: transparent;
            padding-top: .5em;
            background-color: var(--o-onboarding-current-color, $o-brand-odoo);
            transition: all $o-onboarding-base-time ease;
            transform: scale(.5);
        }

        &:first-of-type .o_onb_progress {
            display: none !important;
        }

        .o_onb_confetti {
            animation: o_onb_fadeInOut ($o-onboarding-base-time * 3) ease 0s 1 forwards;
        }

        .o_onb_step_action__done {
            animation: bounceIn ($o-onboarding-base-time * 2);
        }

        // "To do" Step Design
        &.o_onb_step__todo {
            .o_onb_step_content_info {
                animation: o_onb_zoomIn ($o-onboarding-base-time * 1.5) both;
                animation-delay: var(--o-onboarding-delay, 0);
            }

            .o_onb_step_action {
                animation: o_onb_slideInUp ($o-onboarding-base-time * 2) both;
                animation-delay: var(--o-onboarding-delay, 0);
            }
        }

        // "Done" Step Design
        &.o_onb_step__done {
            .o_onb_dot {
                background: var(--o-onboarding-done-color, #{$o-brand-primary});
                transform: scale(1);
                color: white;
            }

            + .o_onb_step__done .o_onb_progress {
                background: var(--o-onboarding-done-color, #{$o-brand-primary});
            }
        }

        // "Just Done" Step Design
        &.o_onb_step__just_done .o_onb_step_content_info {
            animation: o_onb_fadeIn ($o-onboarding-base-time * 3);
        }
    }

    @keyframes o_onb_slideInUp {
        from {
            transform: translate3d(0, 20%, 0);
            opacity: 0;
        }
    }

    @keyframes o_onb_zoomIn {
        from {
            transform: scale(0.8);
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
    }

    @keyframes o_onb_fadeIn {
        10%, 66% {opacity: 0}
        0%, 100% {opacity: 1}
    }

    @keyframes o_onb_fadeInOut {
        10%, 66% {opacity: 1}
        0%, 100% {opacity: 0}
    }
}
